.product {
  --br-clr: #555;
  display: flow-root;
  border-left: 5px solid var(--br-clr);
  box-shadow: 1px 3px 6px 1px rgb(0, 0, 0, 0.15);
  margin: 2em auto;
  padding: 1em;
  border-radius: 5px;
  max-width: 760px;
}
.product--cart {
  --br-clr: rgb(255, 136, 0);
}

.product--cart__header {
  display: flex;
  justify-content: space-between;
}
.product--cart__header-variants {
  margin-left: auto;
}

.product__name {
  text-transform: capitalize;
}
.product__img {
  width: 150px;
  padding: 0 0.2em 0.2em 0;
  float: left;
}

.product__variantsContainer {
  display: flex;
  justify-content: flex-end;
}
.product__variants > select {
  padding: 0.3em;
}

.product__footer {
  text-align: right;
}
.product__footer--cart {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product__footer input[type="text"] {
  font-size: 1.1rem;
  padding: 0;
  width: 40px;
  text-align: center;
}
.product__cost {
  margin-bottom: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

.product__addToCartBtn,
.product__removeFromCartBtn,
.product__incQuantityBtn,
.product__decQuantityBtn,
.product__outOfStockBtn {
  border: none;
}

.product__actions {
  padding: 0.5em 1em;
  text-transform: uppercase;
  margin-right: 1em;
}

.product__incQuantityBtn,
.product__decQuantityBtn {
  margin: 0 5px;
  width: 25px;
  height: 25px;
  font-size: 1.1rem;
  background-color: #aaa;
  border-radius: 5px;
  cursor: pointer;
}

.product__incQuantityBtn:disabled,
.product__decQuantityBtn:disabled {
  background-color: #ccc;
}

.product__addToCartBtn,
.product__removeFromCartBtn,
.product__outOfStockBtn {
  margin-left: 20px;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
}
.product__addToCartBtn {
  background-color: orange;
}
.product__removeFromCartBtn {
  background-color: crimson;
  color: white;
}
.product__outOfStockBtn {
  background-color: tomato;
  text-transform: uppercase;
}
