.prizeStatsContainer summary {
  cursor: pointer;
  user-select: none;
}
.overAllPrizeText {
  display: inline-block;
}
.prizeList {
  margin: 0;
  list-style-type: none;
}
.prizeList > li {
  margin-bottom: 1em;
}

.variantsTable {
  border-collapse: collapse;
  text-align: center;
  margin-top: 0.1em;
}

.variantsTable tr:nth-child(odd) {
  background-color: #ddd;
}
.prizeList__title {
  text-transform: capitalize;
}
.variantsTable tr td:first-child {
  text-align: left;
  text-transform: capitalize;
}

.variantsTable th,
.variantsTable td {
  border: 1px solid gray;
  padding: 0.2em 0.5em;
}
